.img
{
  /* position: absolute; */
  height: 100px;
  width: 100px;
  cursor: pointer;
}

.jumbotron
{
  padding: 2em;
}

.moi
{
  position: absolute;
  left: -200px;
  top: 200px;
  height: 200px;
  width: 200px;
}
.bot
{
  position: absolute;
  right: -200px;
  top: 200px;
  height: 200px;
  width: 200px;
}
